@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Questrial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    max-height: 100vh;
    margin: 0;
    background: #666;
}